html {
    scroll-behavior: smooth;
  }

body {
    position: relative; 
    padding-top: 0px;
    background-color: whitesmoke
}


/* input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
} */

/* .todos li{
  background: #f0f1eefb;
} */

.title, .login-signup {
  background: #fff;
}

.subject-delete, .note-add, .note-pin,.note-delete, .note-remove, .color-picker {
  cursor: pointer;
}

#pinnedNotes { background: hsl(24, 76%, 45%);}
#note1 { background: #1E88E5;}
#note2 {background: #673ab7;}


/* input:placeholder-shown {
  font-size: 75%;
} */

.footer {
  position:fixed;
  bottom: 0;
  width: 100%;
 

}