html {
    scroll-behavior: smooth;
  }

body {
    position: relative; 
    padding-top: 0px;
}


 /* .topnavbar {
  background-color: #ff9800;
  color: #fff
}  */

/* .title {

  background-color: #ff9800; 
} */

#note1 {padding-top:10px;height:500px;color: #fff; background-color: #1E88E5;}
#note2 {padding-top:10px;height:500px;color: #fff; background-color: #673ab7;}
#note3 {padding-top:10px;height:500px;color: #fff; background-color: #ff9800;}



