html {
    scroll-behavior: smooth;
  }

body {
    position: relative; 
    padding-top: 0px;
}


/* input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
} */

/* .todos li{
  background: #f0f1eefb;
} */

.subject-delete, .note-add, .note-delete {
  cursor: pointer;
}

#note1 { background: #1E88E5;}
#note2 {background: #673ab7;}
#note3 {background: #ff9800;}



.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
 

}