html {
    scroll-behavior: smooth;
  }

body {
    position: relative; 
    padding-top: 0px;
    background-color: whitesmoke
}


/* input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
} */

/* .todos li{
  background: #f0f1eefb;
} */

.title, .login-signup {
  background: #e2bd18;
}

.subject-delete, .note-add, .note-pin, .note-pinned,.note-delete, .note-remove, .my-color-picker {
  cursor: pointer;
}

.form-add-subject {
  padding-top: 20px;
  /* padding-left: 200px;
  padding-right: 200px; */
}

/* #pinnedNotes { background: #c9611b;} */


/* input:placeholder-shown {
  font-size: 75%;
} */


.blank {
  height: 30px;

}
.footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
 
}